<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.com.protruly.soundrecorder"
          android:versionName="v1.0.1.0101.4">
    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="24"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.STOP_APP_SWITCHES"/>
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_record_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SR.Theme.Light">
        <activity
            android:name=".RecordActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:taskAffinity="cn.com.protruly.soundrecorder.RecordActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
               <action android:name="android.intent.action.GET_CONTENT"/>
               <data android:mimeType="audio/mp3"/>
            </intent-filter>
        </activity>
        <activity android:name=".ClipActivity"
                android:label="Clip"
                android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".RecordListActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".lockscreen.LockScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar"
            android:excludeFromRecents="true">
        </activity>

        <service
            android:name=".RecordService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="cn.com.protruly.soundrecorder.managerUtil.AudioRecordManagerService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="cn.com.protruly.soundrecorder.managerUtil.AudioPlayManagerService"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>