<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.protruly.clouddata"
    android:versionCode="1704201941"
    android:versionName="v1.0.1.0101.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="25" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />

</manifest>

