<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hb.note"
    android:versionCode="170918001"
    android:versionName="v1.0.1.0102.1">

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="25" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".NoteApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_note"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/NoteTheme">

        <activity
            android:name=".activity.NoteHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoteTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.NoteEditorActivity"
            android:theme="@style/NoteTheme"
            android:screenOrientation="portrait" />
    </application>

</manifest>